streamlit
streamlit-webrtc 

pandas
together
transformers
torch

llama-index

# Storage
pinecone 
llama_index.vector_stores.pinecone
llama_index.core 

# Embeddings
llama-index-llms-together
llama-index-embeddings-together
